.my-projects-section {
    display: flex;
    margin: 25px 0px;
}

.my-projects-container {
    width: 100%;
    text-align: center;
    padding: 7.5% 25px;
    background-size: contain;
    background-position: center;
    background-image: url("../assets/images/my-potifolio-background.png");
}

.my-projects-title {
    margin: 0px 0px 6px 0px;
    font-size: 34px;
    font-family: var(--font-family-bold);
}

.my-projects-link {
    font-size: 34px;
    font-family: var(--font-family-thin);
    text-decoration-thickness: 1px;
    font-size: 20px;
    font-weight: 500;  
    color: var(--primary);
    letter-spacing: 1px;
}