.welcome-section {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  flex-direction: column;
}

.header {
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 25px 13% 10px 13%;
  justify-content: space-between;
  background-color: var(--background);
}

@media (max-width: 1200px) {
  .header {
    padding: 25px 15px 10px 25px;
  }
}

.header-menu-button {
  border: none;
  display: none;
  background-color: transparent;
}

.header-menu-button:hover {
  cursor: pointer;
}

.header-link {
  font-size: 16px;
  padding: 4px 5px 3px 5px;
  margin: 3px 20px;
  color: var(--primary);
  text-decoration: none;
  font-family: var(--font-family-bold);
}

.header-link-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .header-link {
    margin: 3px 10px 3px 0px;
  }

  .header-link-container {
    margin-left: 25px;
  }
}

.header-link:hover {
  text-decoration: underline;
  transition: color 0.4s, background-color 0.4s;
}

.header-link.filled-link {
  background-color: var(--primary);
  color: var(--background);
  border-radius: 6px;
}

.welcome-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
}

.welcome-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  z-index: 1;
  opacity: 0;
  font-size: 45px;
  text-align: center;
  font-weight: 300;
  font-family: var(--font-family);
  animation-duration: 3s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
  animation-name: welcome-title;
  animation-timing-function: ease;
}

@keyframes welcome-title {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.welcome-subtitle {
  margin-top: 15px;
  font-size: 60px;
  font-family: var(--font-family-bold);
}

@media (max-width: 400px) {
  .welcome-subtitle {
    font-size: 45px;
  }
}

.welcome-background {
  top: 40%;
  opacity: 0;
  position: absolute;
  transform: translate(0%, -50%);
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: background-image;
  animation-timing-function: ease;
}

@keyframes background-image {
  0% {
    top: 30%;
    opacity: 0
  }

  65% {
    top: 50%;
    opacity: 0.5
  }

  100% {
    top: 50%;
    opacity: 1
  }
}

.whatsapp-button {
  opacity: 0;
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 15px;
  color: var(--primary);
  transition: background-color 0.4s;
  padding: 10px 25px 11px 25px;
  font-family: var(--font-family-medium);
  border: 2px solid var(--primary);
  background-color: var(--background);
  text-decoration: none;
}

.whatsapp-button:hover {
  cursor: pointer;
  font-weight: 600;
  color: var(--text-on-primary);
  background-color: var(--primary);
}

.fade-in {
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.scroll-button {
  opacity: 0;
  margin-bottom: 20px;
}

.scroll-button:hover {
  margin-bottom: 19px;
  border-bottom: 1px solid white;
}

.social-media-container {
  top: 50%;
  opacity: 0;
  right: 10%;
  position: absolute;
  transform: translate(50%, -50%);
}

@media (max-width: 1000px) {
  .social-media-container {
    right: 25px;
  }
}

.social-media-button {
  width: 27px;
  padding: 6px;
  height: 27px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  transition: border-radius 0.4s;
}

.social-media-button:not(:last-child) {
  margin-bottom: 30px;
}

.social-media-button:hover {
  border-radius: 25%;
}

@media (max-width: 870px) {
  .social-media-container {
    top: 0;
    right: 0;
    display: flex;
    transform: none;
    position: relative;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .social-media-button:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

.header-link-float-container {
  display: none;
}

@media (max-width: 510px) {
  .header-menu-button {
    display: unset;
    padding: 25px 15px 10px 25px;
  }

  .header-link-container {
    display: none;
  }

  .header-link-float-container {
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
  }

  .header-link-float-container.active {
    display: flex;
  }

  .header-link {
    padding: 10px;
    margin: 0px 0px 25px 0px;
  }

  .header-close-button {
    border: none;
    margin-top: 40px;
    background-color: transparent;
  }
}